
/* nav{
  background-color: var(--dark-background);
  color: var(--light-text);
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  justify-content: space-between;
  padding-right: 5rem;
} */

nav {
  display: flex;
  color: var(--light-text);
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-background);
  padding: 1rem 1.5rem;
}

.nav-container{
  display: flex;
  gap: 3rem;
}

.navbar-links{
  display: flex;
  gap: 2rem;
}

.nav_button {
  background-color: var(--dark-background);
  color: var(--light-text);
  padding: 0.5rem;
  font-size: 1.5em;
  border: solid 2px transparent;
  margin: 3px;
  text-decoration: none;
}
  
.navbar-theme{
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.navbar-theme img{
 width: 3rem;
 height: 3rem;
 padding: 0.1rem;
}

.landing_name {
  padding: 20px 20px 0px 20px;
  font-weight: 700;
}

.landing_title {
  padding: 10px;
  margin-top: 0px;
  font-weight: 500;
}


