* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.theme-light {
  --dark-text: #5e4b56;
  --button-border: #5e4b56;
  --dark-background: #dbe7e4;
  --light-text: #5e4b56;
  --light-background: #eddcd2;
  --light-border: #5e4b56;
  --shadow: 0 8px 32px 0 rgba(0, 0, 0, .37);
  --card-front-bg: #f9f8f8;
  --card-back-bg: #dbe7e4;
  --card-text: #5e4b56;
}

.theme-dark {
  --dark-text: #292929;
  --dark-background: #2f4550;
  --light-background: #586f7c;
  --button-border: #b8dbd9;
  --light-text: #f9f8f8;
  --light-border: #b8dbd9;
  --shadow: 0 8px 32px 0 rgba(245, 245, 245, 0.37);
  --card-front-bg: #586f7c;
  --card-back-bg: #2f4550;
  --card-text: #f9f8f8;
}

html,
#root {
  font-family: "Roboto Mono", monospace;
  color: var(--dark-text);
  height: 100vh;
}

body {
  height: 100vh;
  background-color: var(--light-background);
}

button {
  font-family: "Roboto Mono", monospace;
}

nav {
  display: flex;
  color: var(--light-text);
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-background);
  padding: 1rem 1.5rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}